flask
flask-sock
crewai
langchain==1.0.7
langchain-ollama
python-dotenv
gevent
gevent-websocket
websockets
duckduckgo-search
litellm>=1.80,<2.0
konlpy
httpx
requests
requests-oauthlib
lmdb
beautifulsoup4
imageio
imageio-ffmpeg
psycopg[binary]
